alabaster==0.7.12
appdirs==1.4.4
astroid==2.8.3
attrs==21.2.0
awscli==1.21.0
Babel==2.9.1
boto3==1.19.0
botocore==1.22.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.3
commonmark==0.9.1
coverage==6.0.2
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
-e git+https://github.com/sshusainTRI/dgp.git@5b667355d79ea634f26c89e457604f54c217e6bd#egg=dgp
diskcache==5.2.1
docutils==0.15.2
grpcio==1.41.0
grpcio-tools==1.41.0
idna==3.3
imagesize==1.2.0
importlib-metadata==4.8.1
iniconfig==1.1.1
isort==4.3.21
Jinja2==3.0.2
jmespath==0.10.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib==3.0.3
mccabe==0.6.1
nose==1.3.7
numpy==1.19.4
opencv-python==4.5.3.56
packaging==21.0
pandas==1.1.5
Pillow==8.3.2
pkg_resources==0.0.0
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.18.1
py==1.10.0
pyasn1==0.4.8
Pygments==2.10.0
pylint==2.11.1
pyparsing==2.4.7
pyquaternion==0.9.5
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
recommonmark==0.7.1
requests==2.26.0
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.3
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tenacity==8.0.1
toml==0.10.2
torch==1.8.1
torchvision==0.9.1
tqdm==4.29.1
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.2
xarray==0.16.2
yapf==0.31.0
zipp==3.6.0
